.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1440px;
    border: 1px solid #000;
    margin: 0 auto;
    height: 100vh;
}

.content_wrapper {
    width: 1000px;
    border: 1px solid red;
    height: 50%;
}