@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i&display=swap");

.container {
  width: 1440px;
  margin: 0 auto;
  height: 100vh;
}

.content_wrapper {
  margin: 0 auto;
  width: 800px;
  transform: translate(0, 28%);
  height: 50%;
}

.card_input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  margin: 0 auto;
}

.input {
  margin: 0 auto;
  width: 100%;
  height: 40px;
  font-size: 1.5rem;
  font-weight: 100;
  color: #21251f;
  border-top: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.input:focus {
  outline: none;
  border-bottom-color: #0366d6;
  border-bottom: 1px solid #0366d6;;
}

.card_details__container {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card_details__container_two {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: 41%;
  transform: translate(23%, 10%);
}

.desc {
  margin: 0 auto;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
  margin-top: 0.3rem;
}


.title_header {
  font-weight: 100;
  margin-bottom: 4rem;
  font-size: 3rem;
  text-align: center;
  color: #0366d6;
}

.title {
  font-size: 12px;
  font-weight: 100;
}

.card_value {
  font-weight: 100;
}

.light_dark {
  color: rgba(0, 0, 0, 0.4);
}

.close {
  transform: translate(3119%, 34%);
  box-shadow: 0px 3px 6px #00000029;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  font-weight: 500;
  color: #000;
  text-align: center;
}